{% extends 'admin_home.html' %}

{% block content %}

<form class="batchform form-horizontal ">


    <table class="table  table-triped">
      <thead>
         <tr>
             <th>MY BATCH</th>


         </tr>
      <tr>
          <div class="boxed">
                 <th class="boxed"> <h2>
                        <a href=""></a>
                  </h2>
            </div>
      </th>
      </tr>
      <tr>
          <th>OTHER BATCH LIST</th>
      </tr>
    </thead>
    <tbody>

      <tr>


        <td> <div class="boxed">
                    <h2> <a href=""></a></h2>
                  </div></td>
        <td><div class="boxed">
                    <h2> <a href=""></a></h2>
                  </div></td>
        <td><div class="boxed">
                    <h2> <a href=""></a></h2>
                  </div></td>
        </tr>


   </tbody>
    </table>
</form>

  {% endblock %}